<center style="margin-top: 150px;">
    <h3 style="margin-top: 20px;">관리자들의 비밀스러운 공간</h3><br/>
    <% if not user_signed_in? %>
        <%= image_tag "error_bear02.png", width: "150px" %><br/>
    <% else %>
        <%= image_tag "foodTruckLogo.png", width: "150px" %><br/>
    <% end %>
    <% if user_signed_in? %>
        <%= content_tag(:div, "< 로그인 중 >", style: "margin-top: 30px; font-weight: bold") %>
        <%= content_tag(:div, current_user.email, style: "margin-bottom: 10px; font-weight: bold") %>
        <div style="width: 50px; border: 1px solid black; margin-bottom: 50px"></div>
        <%= link_to "로그아웃", destroy_user_session_path, method: :delete, style: 'color: red' %>
        <% if user_signed_in? && current_user.admin? == true %>
            <span style="margin-left: 5px; margin-right: 5px;">|</span>
            <%= link_to "공지사항 게시판", all_notices_path, style: "color: black" %>
            <span style="margin-left: 5px; margin-right: 5px;">|</span>
            <%= link_to "관리자 페이지", "/admin", style: "color: black" %><br/>
            <%= link_to "데이터 분석센터", charts_index_path, style: "color: black" %>
        <% end %>
    <% else %>
        <%= link_to '로그인', new_user_session_path, class: "btn btn-primary", style: "margin-top: 30px;" %>
    <% end %>
    <hr width="100px"/>
    <% if user_signed_in? && current_user.admin? == true %>
        <span style="color: #3e3e06">★</span> 실제로 <span style="color: #204df9; font-weight: bold;"><%= @really_visit_count_total %>명</span>의 학우분들이 방문해주셨습니다! <span style="color: #3e3e06">★</span>
    <% end %>
</center>