<center style="margin-top: 150px;">
    <h3 style="margin-top: 20px;">관리자들의 비밀스러운 공간</h3><br/>
    <%= image_tag "error_bear02.png", width: "150px" %><br/>
    <% if user_signed_in? %>
        <%= content_tag(:div, "로그인 중", style: "margin-top: 30px; margin-bottom: 10px; font-weight: bold") %>
        <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% if user_signed_in? && current_user.admin? == true %>
            <%= link_to "공지사항 게시판", all_notices_path, class: "btn btn-primary" %>
            <%= link_to "관리자 페이지", all_notices_path, class: "btn btn-info" %>
        <% end %>
    <% else %>
        <%= link_to '로그인', new_user_session_path, class: "btn btn-primary", style: "margin-top: 30px;" %>
    <% end %>
    <hr width="100px"/>
    <% if user_signed_in? && current_user.admin? == true %>
        <span style="color: #3e3e06">★</span> 실제로 <span style="color: #204df9; font-weight: bold;"><%= @really_visit_count_total %>명</span>의 학우분들이 방문해주셨습니다! <span style="color: #3e3e06">★</span>
    <% end %>
</center>