<% comments.each do |comment| %>  
    <div class="comments-show" style="margin-bottom: 10px;">
        <div class="comment">
            <% if user_signed_in? && current_user.admin? == true %>
                <div class="badge badge-pill badge-light"><%= time_ago_in_words(comment.created_at) %>전 [ <%= comment.created_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %> ]</div>
            <% else %>
                <div class="badge badge-pill badge-light"><%= time_ago_in_words(comment.created_at) %>전 [ <%= comment.created_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %> ]</div>
            <% end %>
            
            <%= content_tag(:div, comment.body, style: "white-space: pre-wrap; margin-top: 10px;") %>
            <% if user_signed_in? && current_user.admin? == true %>
                <div class="offset-8"><%= link_to "지우기", comment_path(comment), method: :delete, remote: false, data: { confirm: "정말로 지우시겠습니까?" }, style: "color: red; font-weight: bold" %></div>
            <% end %>
        </div>
    </div>
<% end %>