<div style="margin-top: 120px"></div>
<h2 style="font-family: 'BMDOHYEON'; text-align: center">데이터 분석센터</h2>
<%= pie_chart "/charts/new_users" %>

<div class="row" style="width: 100%; padding-left: 20px; margin-top: 50px;">
    <div class="col-12" align="center" style="font-family: 'BMJUA'; font-size: 30px;">Text 정리 수치</div>
    <div class="col-4">에브리타임 : <%= Impression.where("referrer like ?", "%everytime%").count %> 명</div>
    <div class="col-4">페이스북 : <%= Impression.where("referrer like ?", "%facebook.com%").count %> 명</div>
    <div class="col-4">네이버 : <%= Impression.where("referrer like ?", "%naver.com%").count %> 명</div>
    <div class="col-6">네이버(후기 블로그글) : <%= Impression.where("referrer like ?", "%blog.naver.com/kbs4674%").count %> 명</div>
    <div class="col-12" style="margin-top: 5px"><small><span style="color: red">*</span> Text 수치는 개략적인 참고로 봐주세요. 정확하지 않습니다.</small></div>
</div>