<%= form_with(model: lost, local: true) do |form| %>
  <% if lost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lost.errors.count, "error") %> prohibited this lost from being saved:</h2>

      <ul>
      <% lost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field title-section">
    <p>제목</p>
    <%= form.text_field :title , style: "width: 100%" %>
  </div>

  <div class="field content-section">
    <p>내용</p>
    <%= form.text_area :content, id: :lost_content , style: "width: 100%" %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
