<%= form_with(model: lost, local: true) do |form| %>
  <% if lost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lost.errors.count, "error") %> prohibited this lost from being saved:</h2>

      <ul>
      <% lost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    
  <% end %>
   <div id="field">
    <label for="inp" class="inp">
    <%= form.text_field :title, id: :lost_title, :id => "inp", :placeholder => "  " %>
   <%= form.label :제목, :class => "label" %>
   <span class="border"></span>
   </label>
  </div><br>
  
  <div id="field">
  <label for="inp" class="inp">
        
    <%= form.text_area :content, id: :lost_content, :id => "inp", :placeholder => "  ", style: "overflow:hidden; height:170px;"%>
    <%= form.label :내용, :class => "label" %>

   </label>
  </div><br>

   
  
  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <div style="text-align: center; margin-top: 10px;">
    <%= form.submit "작성", class:"btn btn-secondary" %>
    </div>
  </div>
<% end %>