<div class="top">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= image_tag "lost.png" , :class => 'lost_img' %>

<h1 style="font-family: 'BMDOHYEON'; margin-top: 15px;">분&emsp;실&emsp;물</h1>

<div>
  <p style="font-size: 22px; font-weight: bold; font-family: 'BMJUA'; margin-top: 20px">물건을 잃어버리셨나요? <br> 분실물 게시판을 이용하세요!</p>
  <p style="font-size: 12px; font-family: 'BMJUA';">*타인에게 불쾌감을 줄 수 있는 게시글은 자제해주시기 바랍니다.*</p>
</div>
</div>

<%= render 'all_notices/render/notice_global' %>
<div style="margin-bottom: 30px;"></div>

<div id='btn_new'>
<%= link_to '글 작 성', new_lost_path, class:"btn btn-outline-secondary", id:"btn_new_new", style:"width: 400px;"%>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% @losts.reverse.each do |lost| %>
       <%= link_to lost, style: "text-decoration: none; color: black" do %>
        <div class="card">
          <% if lost.image.present? %>
            <%= image_tag "#{lost.image}" , :class => 'img' %>
          <% else %>
            <div align="center"><%= image_tag "no_image.png" , :class => 'img', style: 'width: 100px' %></div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title" style="text-align: left"><%= lost.title %></h5>
            <p class="card-text" style="font-size: 10px; text-align: right; font-family: 'Arita-buri-SemiBold'"><%= lost.created_at.strftime('%Y년 %m월 %d일 %H시%M분') %></p>
            <div align="right">
              <i class="far fa-comment-dots"></i>
              <% @losts.first(1).each do |comment| %>
                <%= lost.comment_ids.count %> 
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



