<p id="notice"><%= notice %></p>

<div id="losttitle">분실물 찾기</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @losts.each do |lost| %>
      <tr>
        <td><%= lost.title %></td>
        <td><%= lost.content %></td>
        <td class="image-section"><img src="<%= lost.image %>"></td>
        <td><%= link_to '보기', lost %></td>
        <td><%= link_to '수정', edit_lost_path(lost) %></td>
        <td><%= link_to '삭제', lost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '글작성', new_lost_path %>
