<h2>찾아라아아아아아아아>이미지넣기</h2>
<div class="image-lnf">
  <%= image_tag "lostnfound_2.png" %>
</div>

<p id="notice"><%= notice %></p>

<br>
<div class="writing">
<%= link_to '글 쓰 기', new_lost_path %>
</div>

<table>
  <thead>
    <tr>
      <th>　</th>
      <th>　</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @losts.each do |lost| %>
      <tr>
            <td class="image-section", align: center>
              <img src="<%= lost.image %>" onerror="this.src='<%= image_tag "lostnfound_bear.png" %>'">
            </td>
        <td class="title-index"><%= lost.title %></td>
        <td><%= link_to '클리이이익', lost %>
      </tr>
    <% end %>
  </tbody>
</table>