<%= image_tag "https://raw.githubusercontent.com/sangyeol-kim/knu_festival/master/app/assets/images/lost.png" , :class => 'hunting_img' %>

<h1 style="font-family: 'BMDOHYEON'; margin-top: 15px;">분&emsp;실&emsp;문</h1>

<div>
  <p style="font-size: 22px; font-weight: bold; font-family: 'BMJUA'; margin-top: 20px">물건을 잃어버리셨나요? <br> 분실물 게시판을 이용하세요!</p>
  <p style="font-size: 12px; font-family: 'BMJUA';">*타인에게 불쾌감을 줄 수 있는 게시글은 자제해주시기 바랍니다.*</p>
</div>

<div id='btn_new'>
<%= link_to '글 작 성', new_lost_path, class:"btn btn-outline-secondary", id:"btn_new_new", style:"width: 400px;" %>
</div>

<div class="container">
  <div class="card-columns">
    <% @losts.reverse.each do |lost| %>
        <div class="card">
          <div class="card-header" style="font-weight: bold;">
            <%= lost.title %>
          </div>
          <div class="card-body">
          <h5 class="card-title"><%= lost.content %></h5>
            <p class="card-text" style="font-size: 10px; text-align: right; font-family: 'Arita-buri-SemiBold'"><%= lost.created_at.strftime('%Y년 %m월 %d일 %H시%M분') %></p>
            <td><%= link_to '보기', lost %></td>
            <td><%= link_to '수정', edit_lost_path(lost) %></td>
            <td><%= link_to '삭제', lost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
      </div>
    <% end %>
  </div>
</div>
