<div class="container-text" style"margin-top:60px;">
  <div class="col-0 col-lg-2"></div>
  <div class="col-12 col-lg-8">
    
    <div>
      <a class="listlink left" href="/losts">[목록으로]</a>
      <p>
        <%= link_to 'Edit', edit_lost_path(@lost) %>
      </p>
      <!--<p>-->
      <!--  <!%= link_to 'Destroy', lost, method: :delete, data: { confirm: 'Are you sure?' } %>-->
      <!--</p>-->
      <p>
        <%= link_to 'Back', losts_path %>
      </p>
    </div>
    
    <div>
      <p id="notice"><%= notice %></p>
      <p>
        <strong>제 목 </strong>
        <div class="title-show"><%= @lost.title %></div>
      </p>
  
      <p>
        <strong>내 용 </strong>
        <div class="content-show"><%= @lost.content %></div>
      </p>
      
      <p>
        <strong>사 진 </strong>
        <div class="image-show"><img src="<%= @lost.image %>"></div>
      </p>
    </div>
  </div>
  <div class="col-0 col-lg-2"></div>
</div>

