<p style="font-size: 30px; font-weight: bold; font-family: 'BMJUA'; margin-top: 30px">제목</p>
<div>
<p style="font-family: 'BMJUA'"><%= @lost.title %></p>
</div>

<p style="font-size: 30px; font-weight: bold; font-family: 'BMJUA'; margin-top: 30px">내용</p>
<div>
<div>
<p style="font-family: 'BMJUA'"><%= @lost.content%></p>
</div>

<div class="image-section"><img src="<%= @lost.image %>"></div>



<div style="text-align: right; margin-top: 10px;">
<%= link_to '이전', losts_path, class:"btn btn-secondary", style:"margin-right: 15px;" %>
</div>
<hr />


<form action='/comments' method='POST'>
  
  <input type='hidden' name='authenticity_token' value=<%= @token %></input>
  <input type='hidden' name='lost_id' value=<%= @lost.id %>></input>
  <strong>Comment:</strong>
  <input type='text', name='input_content'></input>
  <input type='submit'></input>
</form>

<% @lost.comments.each do |comment| %>
    <p>
      <%= comment.content %> | x
    </p>
<% end %>