<div style="text-align:center;">
  <button type="button" class="btn btn-warning m-1 food-item" data-toggle="modal" data-target="#food-modal-<%=x.id %>">
    <div style="margin-top:3px;">
      <%= image_tag "b#{x.iconid}.jpg", class:"food-icon"%><strong style="margin-right:7px; font-size:22px;"><%= x.title %></strong>
      <% if user_signed_in? %>
        <% if ((current_user.fdid == x.iconid) && (current_user.areaid == x.number)) || (current_user.fdid == 0)%>
          <%= link_to 'edit', "fleamarkets/#{x.id}/edit" %>
        <% end %>
      <% end %>
    <p class="food-ps"><%= x.ps %></p>

    </div>
  </button>
 
    
    <!--이하 보이지 않는 모달-->
  <div class="modal fade" id="food-modal-<%=x.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><%= x.title %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if x.number == '1' %>
            <p style="margin-bottom:10px; color:green;">함인섭 광장</p>
          <% elsif x.number == '2' %>
            <p style="margin-bottom:10px; color:green;">미래 광장</p>
          <% elsif x.number == '3' %>
            <p style="margin-bottom:10px; color:green;">동문</p>
          <% end %>
          <%= content_tag(:div, x.content, style: "white-space: pre-wrap;") %>
          <%= image_tag "#{x.image}", style:"width:300px;" %>
        </div>
        <div class="modal-footer" style="justify-content: center;">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>