<div style="margin-left: 22px">
<button type="button" class="btn btn-warning m-1 food-item" data-toggle="modal" data-target="#food-modal-<%=x.id %>">

  <!--카드 이미지 업로드 만들면 여기로 이미지가 들어옴 모달을 따로 만들어야함-->
  <img class="img-fluid" src="<%=x.image%>">
  <div style="margin-top: 8px; margin-left: 125px; text-align: left; font-size: 25px; font-family: 'BMJUA';">
  <%= x.title %>
  </div>
</button>
</div>

<!--현석이 형이 만든거임 지우셈 너가 만든걸로 써야됨-->
<!--이하 보이지 않는 모달-->
<div class="modal fade" id="food-modal-<%=x.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= x.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= x.content %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
