<%= form_with(model: fleamarket, local: true) do |form| %>
  <% if fleamarket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fleamarket.errors.count, "error") %> prohibited this fleamarket from being saved:</h2>

      <ul>
      <% fleamarket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field" style="text-align:center;">
      <%= form.label :'함인섭(1)' %>
      <%= form.radio_button :number, '1' , checked: true%>   &nbsp;  
      <%= form.label :'미래(2)' %>
      <%= form.radio_button :number, '2' %>   &nbsp;
      <%= form.label :'동문(3)' %>
      <%= form.radio_button :number, '3' %>
    </div>

  <div class="field row">
    <div class="col-4"><%= form.label :"제목" %></div>
    <div class="col-8"><%= form.text_field :title, id: :fleamarket_title, class: "form-control" %></div>
  </div>

  <div class="field row">
    <div class="col-4"><%= form.label :"메뉴 혹은 내용" %></div>
    <div class="col-12"><%= form.text_area :content, id: :fleamarket_content, class: "form-control", rows: "5" %></div>
  </div>

  <div class="field row" style="margin-top: 30px">
    <div class="col-4"><%= form.label :'추가메시지' %></div>
    <div class="col-8"><%= form.text_field :ps, id: :fleamarket_modal, class: "form-control" %></div>
  </div>
  
  <div class='field row' style="margin-top: 20px">
    <div class="col-4"><%= form.label :'외관 이미지' %></div>
    <div class="col-8"><%= form.file_field :image %></div>
  </div>

  <div class="actions" align="center" style="margin-top: 30px">
    <%= form.button "글쓰기", class: "btn btn-primary" %>
    <%= link_to '돌아가기', foods_path %>
  </div>
<% end %>
