<%= form_with(model: fleamarket, local: true) do |form| %>
  <% if fleamarket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fleamarket.errors.count, "error") %> prohibited this fleamarket from being saved:</h2>

      <ul>
      <% fleamarket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <%= form.label :number %>
      <%= form.text_field :number, id: :fleamarket_number %>
    </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :fleamarket_title %>
  </div>

  <div class="field">
    <%= form.label :content%>
    <%= form.text_field :content, id: :fleamarket_content %>
  </div>
  
  <div class="field">
    <%= form.label :modal %>
    <%= form.text_field :modal, id: :fleamarket_modal %>
  </div>

  <div class='field'>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
