<%= form_with(model: fleamarket, local: true) do |form| %>
  <% if fleamarket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fleamarket.errors.count, "error") %> prohibited this fleamarket from being saved:</h2>

      <ul>
      <% fleamarket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field fieldmargin" style="text-align:center;">
      <strong>아래 선택은 만든 후 삭제 안되니 신중히 선택해라 제발</strong><br/><br/>
      <%= form.label :'함인섭(1)' %>
      <%= form.radio_button :number, '1' , checked: true%>   &nbsp;  
      <%= form.label :'미래(2)' %>
      <%= form.radio_button :number, '2' %>   &nbsp;
      <%= form.label :'동문(3)' %>
      <%= form.radio_button :number, '3' %>
    </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :fleamarket_title %>
  </div>

  <div class="field">
    <%= form.label :content%>
    <%= form.text_field :content, id: :fleamarket_content %>
  </div>

  <div class='field'>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
