<!--플리마켓(미래광장) 인덱스-->

<div class="top">
  <%= image_tag "fleamarket_logo.png" , :class => 'fleamarket_logo_img' %><br/>
  <h1 style="font-family: 'BMDOHYEON'; margin-top: 15px;">미래마켓</h1>
  <div>
    <p style="font-size: 18px; font-weight: bold; font-family: 'BMJUA'; margin-top: 20px">이용시간 : 09시 ~ 18시</p>
    <%= image_tag "new_future_market.png", :width => '80%' %>
  </div>
</div>
<div class="container" style="text-align:center">
  <div class="row">
      <div class="col-12" style="background-color: rgba(0, 0, 0, 0.67); color:white; width: 100%; padding: 10px;">
        아래 각 플리마켓 이름을 클릭해보세요!
        <div align="center"><div style="border-bottom: 1px solid white; width: 30%; margin-top: 5px;"></div></div>
        <small>다양한 핸드메이드 제품과 가성비 최고 동아리마켓까지<br/>
        <span style="color: yellow">플리마켓별 혜택도 놓치지 마세요!</span><br/> 
          축제는 17일(월) 부터 20일(목) 까지!</small>
      </div>
    </div>
<div style="margin-bottom: 30px;">
<%= render 'all_notices/render/notice_global' %>
<div class="row">
  <%= render 'homes/weather_info' %>
</div>
</div>
  <% @fleamarkets.each do |x| %>
    <% if x.number == '2' %>
      <%= render 'fleamarkets/card', :x => x %>
    <% end %>
  <% end %>
  
  <!--이하 곰돌이 칸임 -->
  <div style="text-align:center;">
  <button type="button" class="btn btn-warning m-1 food-item" data-toggle="modal" data-target="#food-modal-21">
    <div style>
      <%= image_tag "gom.jpg", class:"food-icon"%><strong style="margin-right:7px; font-size:22px;">반달이</strong>
    <p class="food-ps">투표하고 반달이굿즈 받자곰❤️</p>

    </div>
  </button>
 
    
    <!--이하 보이지 않는 모달-->
  <div class="modal fade" id="food-modal-21" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">반달이</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="margin-bottom:10px; color:green;">미래 광장</p>
          <%= content_tag(:div, '국립공원관리공단과 함께하는 반달이 밀어주기 프로젝트\n 전국 캐릭터 투표사업에 참여중인 \'반달이\'에게 투표하면 반달이굿즈(부채, 스티커)와 새콤달콤을 드립니다!', style: "white-space: pre-wrap;") %>
          <%= image_tag "gom_img.jpg", style:"width:300px;" %>
        </div>
        <div class="modal-footer" style="justify-content: center;">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <br>
</div>



<% if user_signed_in? && current_user.admin? == true %>
  <div class="offset-8"><%= link_to '글쓰기', new_fleamarket_path, class: "btn btn-primary", style: "margin-top: 20px" %></div>
<% end %>