<%= form_with(model: hunting, local: true) do |form| %>
  <% if hunting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hunting.errors.count, "error") %> prohibited this hunting from being saved:</h2>

      <ul>
      <% hunting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="margin-top: 10px">
    <div id="title">
    <%= form.text_field :title, id: :hunting_title, class:"form-control", placeholder:"주점000테이블에 세 명 있어요" %>
    </div>
  </div>

  <div class="field">
    <div id="content">
    <%= form.text_area :content, id: :hunting_content, class:"form-control", placeholder:"인원수 맞춰서 오시면 소주한잔드려요!" %>
    </div>
  </div>

  <div class="actions">
    <div style="text-align: right; margin-top: 10px;">
    <%= form.submit "작성", class:"btn btn-secondary", style:"margin-right: 15px;"%>
    </div>
  </div>
<% end %>
