<%= form_with(model: hunting, local: true) do |form| %>
  <% if hunting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hunting.errors.count, "error") %> prohibited this hunting from being saved:</h2>

      <ul>
      <% hunting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="margin-top: 10px">
    <%= form.label :제목 , style:"margin-left: 15px;"%>
    <div id="title">
    <%= form.text_field :title, id: :hunting_title, class:"form-control", placeholder:"제목을 입력해주세요." %>
    </div>
  </div>

  <div class="field" >
    <%= form.label :내용, style:"margin-left: 15px;" %>
    <div id="content">
    <%= form.text_area :content, id: :hunting_content, class:"form-control", placeholder:"내용을 입력해주세요." %>
    </div>
  </div>

  <div class="actions">
    <div style="text-align: right; margin-top: 10px;">
    <%= form.submit "작성", class:"btn btn-secondary", style:"margin-right: 15px;"%>
    </div>
  </div>
<% end %>
