<div class="top">
  <%= image_tag "hunting.png" , :class => 'hunting_img' %>
  
  <h1 align="center" style="font-family: 'BMDOHYEON'; margin-top: 15px;"><u><%= link_to "술친구&nbsp;괌".html_safe, huntings_path, style: "color: black; text-decoration: none" %></u></h1>

  <div>
    <p style="font-size: 22px; font-weight: bold; font-family: 'BMJUA'; margin-top: 20px">술 친구를 찾으세요!!</p>
    <p style="font-size: 12px; font-family: 'BMJUA';">*타인에게 불쾌감을 줄 수 있는 게시글은 자제해주시기 바랍니다.*</p>
  </div>
</div>

<%= render 'all_notices/render/notice_global' %>
<div style="margin-bottom: 30px;"></div>
  
<div id='btn_new'>
<%= link_to '글 작 성', new_hunting_path, class:"btn btn-outline-secondary", id:"btn_new_new", style:"width: 400px;"%>

</div>


<div id="test"> </div>    <!-- 비동기 글생성 -->

<!-- db글 불러오기 -->
<div class="container">
  <div class="card-columns">
    <% @huntings.reverse.each do |hunting| %>
    <a href="<%= hunting_path(hunting) %>">
      <div style="margin-top: 10px; margin-bottom: 10px;">
          <div class="card">
            <div class="card-header" style="font-weight: bold;"> <%= hunting.title %></div>
            <div class="card-body">
              <%= content_tag(:h5, hunting.content, style: "text-align: left") %>
              <div align="right"><i class="far fa-comment-dots"></i> <%= hunting.comment_threads.count %></div>
              <p class="card-text" style="font-size: 10px; text-align: right; font-family: 'Arita-buri-SemiBold'"><%= hunting.created_at.strftime('%Y년 %m월 %d일 %H시%M분') %></p>
            </div>
          </div>
      </div>
    </a> 
    <% end %>
  </div>
</div>


<script src="https://js.pusher.com/4.3/pusher.min.js"></script>
<script>
var pusher = new Pusher('<%= ENV["pusher_key"] %>', {
    cluster: 'ap1',
    encrypted: true
  });
  
  function msg_generate(data) {
      $('#test').append(`
      <div class="container" id="message${data.id}">
        <div class="card-columns">
              <div class="card">
                <div class="card-header" style="font-weight: bold;">
                  플친에서 작성 된 글입니다.
                </div>
                <div class="card-body">
                <h5 class="card-title">${data.body}</h5>
                  
                </div>
            </div>
        </div>
      </div>`);
      var item = $(`#message${data.id}`);
      item.fadeIn();
    }

  var channel = pusher.subscribe('dashboard');
  channel.bind('create', function(data) {
    msg_generate(data);
  });

</script>
