<!--머동머동제-->
<div class="logo_section">
  <%= image_tag "main_logo.png", :class => 'knu-img' %>
  <%= image_tag "clouds-re.png" , :class => 'clouds-img', style: "width: 100%;" %>
  <p class="downment">아래로 스크롤 해보라굿!</p>
  <%= image_tag "arrow.png", style:"display: block; width:70px; margin: 20px auto 40px auto; float:center;"%>
</div>
<!-- pusher -->

<!--라인업-->
<div class="line_up_div">
  <a href="/secret/index"><p class="line_up">LINE &nbsp;&nbsp; UP</p></a>
  <%= image_tag "bear_lineup_03.png" , :class => 'lineup-img' %>
</div>

<%= image_tag "cd_case_03.png" , :class => 'lineup-img01' %>

<!--축제지도-->
<div class="schedule-01">
  <%= image_tag "day1.png" , :class => "day" %>
</div>

<div class="schedule-02">
  <%= image_tag "day2.png" , :class => "day" %>
</div>

<div class="schedule-03">
  <%= image_tag "day3.png" , :class => "day" %>
</div>
  
<div class="map">
  <div class="map-txt">지도</div>
  <div class="map-section">
    <%#= image_tag "KNU_map04.png", class: "map-knu" %>
    <%= image_tag "new_index_map.png", class: "map-knu" %>
  </div>
</div>

<!--푸터-->
<div class="developer">
  <p class="developer-title">We make ourselves.</p>
  <p class="developer-title2">멋쟁이 사자처럼</p>
  <%= image_tag "new_footer.png", style: "width: 100%;" %>
  <div style="height: 50px;"></div>
</div>

<div class="total_view" style="z-index: 10" align="center">
  총 <span style="color: yellow"><%= @visit_count.count_view %>명</span>의 학우분들이 방문해주셨습니다!<br/>
  <% if user_signed_in? %>
    <span style="color: yellow">★</span> 실제로 <span style="color: yellow"><%= @really_visit_count_total %>명</span>의 학우분들이 방문해주셨습니다! <span style="color: yellow">★</span>
  <% end %>
</div>

<!--스크립트 부분-->
<script>
$(function(){
$(window).scroll(function(){  //스크롤하면 아래 코드 실행
       var num = $(this).scrollTop();  // 스크롤값
       if( num > 725 ){  // 스크롤을 36이상 했을 때
          $(".lineup-img").css("position","fixed");
       } else if (num < 725 || num == 725){
           $(".lineup-img").css("position","static");
       }
  });
});
$(function(){
  $(window).scroll(function(){  //스크롤하면 아래 코드 실행
       var num = $(this).scrollTop();  // 스크롤값
       if( num > 1105 ){  // 스크롤을 36이상 했을 때
          $(".lineup-img01").css("position","fixed");
       } else if(num < 1105 || num == 1105){
         $(".lineup-img01").css("position" , "fixed")
       }
  });
});
</script>