<p id="notice"><%= notice %></p>

<h1>All Notices</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_notices.each do |all_notice| %>
      <tr>
        <td><%= all_notice.title %></td>
        <td><%= all_notice.content %></td>
        <td><%= link_to 'Show', all_notice %></td>
        <td><%= link_to 'Edit', edit_all_notice_path(all_notice) %></td>
        <td><%= link_to 'Destroy', all_notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New All Notice', new_all_notice_path %>
