<button type="button" class="btn btn-warning m-1 food-item" data-toggle="modal" data-target="#food-modal">
<div style="margin-top:5px;">
  <%= image_tag "ttruck0#{x.iconid}.png", class:"food-icon"%><strong style="margin-right:7px;"><%= x.title %></strong>
  <p class="food-ps"><%= x.ps %></p>
</div>
</button>

<!-- The modal -->
<!-- The modal -->
  <div class="modal fade" id="food-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
      <h4 class="text-center" id="modalLabel"><%=x.title%></h4>
  </div>
  <div class="modal-body">
    <%= x.modal %>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" style="display: table; margin: 0 auto;" data-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>