<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
    <div class="field" style="text-align:center;">
      <%= form.label :'육주(1)' %>
      <%= form.radio_button :number, '1' , checked: true%>   &nbsp;  
      <%= form.label :'함인섭(2)' %>
      <%= form.radio_button :number, '2' %>   &nbsp;
      <%= form.label :'미래광장(3)' %>
      <%= form.radio_button :number, '3' %>
    </div>
  <br/>
  <div class="field row">
    <div class="col-4"><%= form.label :'푸드트럭 이름' %></div>
    <div class="col-8"><%= form.text_field :title, id: :food_title, value: food.title, class: "form-control" %></div>
  </div>
  <br/>

  <div class="field row">
    <div class="col-4"><%= form.label :'푸드트럭 메뉴' %></div>
    <div class="col-12"><%= form.text_area :menu, id: :food_content, class: "form-control", rows: "5" %></div>
  </div>
  <br/>

  <div class="field row">
    <div class="col-4"><%= form.label :'추가메시지' %></div>
    <div class="col-8"><%= form.text_field :ps, id: :food_modal, class: "form-control" %></div>
  </div>
  <br/>

  <div class='field row'>
    <div class="col-4"><%= form.label :'외관 이미지' %></div>
    <div class="col-8"><%= form.file_field :image %></div>
  </div>

  <div class="actions" align="center" style="margin-top: 30px">
    <%= form.button "글쓰기", class: "btn btn-primary" %>
    <%= link_to '돌아가기', foods_path %>
  </div>
<% end %>
