<<<<<<< HEAD
<header>
  <div class="bg-dark navbar-brand">
    <%= link_to image_tag('main_font.png', width: '150'), root_path%>
  </div>
  
  <div class="bg-dark" id="top-menu">
    <div class="container menu-list">
      <%= link_to '플리마켓', fleamarkets_path, class: "top-menu" %>
      <%= link_to '분실물', losts_path, class: "top-menu" %>
      <%= link_to '헌팅', huntings_path, class: "top-menu" %>
      <%= link_to '푸드트럭', foods_path, class: "top-menu" %>
      <% if user_signed_in? %>
        <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "top-menu" %>
      <% end %>
    </div>
=======
<div class="bg-dark navbar-brand">
  <%= link_to image_tag('main_font.png', width: '150'), root_path%>
</div>

<div class="bg-dark" id="top-menu">
  <div class="container menu-list" style="padding-top: 15px; padding-bottom: 15px;">
    <ul class="navbar-nav mr-auto" style="display: -webkit-inline-box;">
      <li class="nav-item dropdown" style="margin-left: 20px;">
        <a class="nav-link dropdown-toggle top-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          플리마켓
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">함인섭광장</a>
          <a class="dropdown-item" href="#">미래광장</a>
          <a class="dropdown-item" href="#">동문</a>
      </li>
      
      <li class="nav-item" style="margin-left: 20px;">
        <a class="nav-link disabled top-menu" href="#" style="color: white">분실물</a>
      </li>
      <li class="nav-item" style="margin-left: 20px;">
        <a class="nav-link disabled top-menu" href="#" style="color: white">헌팅</a>
      </li>
      <li class="nav-item dropdown" style="margin-left: 20px;">
        <a class="nav-link dropdown-toggle top-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          푸드트럭
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">함인섭광장</a>
          <a class="dropdown-item" href="#">미래광장</a>
          <a class="dropdown-item" href="#">주점</a>
      </li>
    </ul>

    <% if user_signed_in? %>
      <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "top-menu" %>
    <% end %>
>>>>>>> bca73571fff390297a24c738e6a7d836eb6b5a21
  </div>
</header>

<script>
  window.onscroll = function() {myFunction()};

  var navbar = document.getElementById("top-menu");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
      if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
      } else {
      navbar.classList.remove("sticky");
      }
  }
</script>