<!DOCTYPE html>
<html>
  <head>
    <title>KnuFestival</title>
    
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <!-- 모바일 기계의 화면사이즈에 창 크기를 맞춤. -->
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0,minimum-scale=1.0, maximum-scale=4.0" />

    <!-- 카카오톡 썸네일 노출 -->
    <meta property="og:image" content="<%= asset_path('mudongmudong_og.png') %>">
    
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="<%= asset_path('favicon_mudong.ico') %>">
    
    <!-- 검색엔진 최적화 -->
    <meta name="title" content="KnuFestival : 머동머동제"/>
    <meta name="keywords" content="KnuFestival, Knu, Kangwon, Kanugwon National, University, 강원대, 강원대학교, 대동제, 강원대 대동제, 강원도, 대학축제, 멋쟁이 사자처럼, 한림대, 한림대 대동제, 머동제, 멋사">
    <meta name="description" content="2018 강원대 대동제 안내, Feat. 멋쟁이 사자처럼">
    
    <meta property="og:title" content="KnuFestival : 머동머동제">
    <meta property="og:description" content="2018 강원대 대동제 안내, Feat. 멋쟁이 사자처럼">
    <meta property="og:site_name" content="KnuFestival : 머동머동제">
    
    <meta name="twitter:title" content="KnuFestival : 머동머동제">
    <meta name="twitter:description" content="2018 강원대 대동제 안내, Feat. 멋쟁이 사자처럼">
  </head>

  <body>
    <div class="d-sm-none">
      <% if current_page? root_path %>
        <div class="sticky">
          <%= render 'layouts/header' %>
        </div>
      <% else %>
        <div class="top-nav sticky">
          <%= render 'layouts/header' %>
        </div>
      <% end %>
      <%= yield %>
      <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </div>
  </body>
  
  <div class="d-none d-sm-block">
    <div style="text-align: center; margin-top: 150px;">
      <h1>mobile only!</h1><br/>
      <h2> 모바일로 접속해 주세요!!<br/>
      모바일 전용 페이지 입니다.</h2>
      <%= image_tag "error_bear02.png" %>
    </div>
  </div>
  <!--모바일로 접속 했을 때 이미지 나오게 했습니다 이미지 테그 있는거 merge 해주시면 됩니다-->

</html>
 