<!DOCTYPE html>
<html>
  <head>
    <title>KnuFestival</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <!-- 모바일 기계의 화면사이즈에 창 크기를 맞춤. -->
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0,minimum-scale=1.0, maximum-scale=4.0" />

    <!-- 카카오톡 썸네일 노출 -->
    <meta property="og:image" content="/img/jorang_og.png">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
 