<!DOCTYPE html>
<html>
  <head>
    <title>KnuFestival</title>
    
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <!-- 모바일 기계의 화면사이즈에 창 크기를 맞춤. -->
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0,minimum-scale=1.0, maximum-scale=4.0" />

    <!-- 카카오톡 썸네일 노출 -->
    <meta property="og:image" content="<%= asset_path('mudongmudong_og.png') %>">
  </head>

  <body>
    <div class="d-sm-none">
      <% if current_page? root_path %>
        <%= render 'layouts/header' %>
      <% else %>
        <div class="top-nav">
          <%= render 'layouts/header' %>
        </div>
      <% end %>
      <%= yield %>
      <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </div>
  </body>
  
  <div class="d-none d-sm-block">
    <div style="text-align: center">
      <h1>This page is mobile only</h1>
      <h2> 모바일로 접속해 주세요!! 모바일 전용 페이지 입니다 </h2>
      <%= image_tag "error_bear.png" %>
    </div>
  </div>
  <!--모바일로 접속 했을 때 이미지 나오게 했습니다 이미지 테그 있는거 merge 해주시면 됩니다-->

</html>
 